@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: url("Asset/cursor.png"), auto;
  font-family: "Titillium Web", "Times New Roman", Times, serif;
}

.layouts {
  position: relative;
  max-width: 476px;
  margin: 0 auto;
  border: 1px solid black;
  height: 100vh;
}

.navbar {
  background-color: #579fff;
  padding: 16px;
  text-align: center;
}

.navbar h3 {
  font-weight: 700;
  color: white;
}

.page-title {
    padding: 16px;
}

.page-title h3 {
    text-align: center;
    font-weight: 800;
    font-size: xx-large;
}

.leds {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
}

.led {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px;
    background-color: white;
    box-shadow: 0px 0px 4px 1px #999;
}

.led-location-text {
    font-weight: 700;
}

.led-image {
    width: 100px;
    object-fit: cover;
}

.items {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    padding: 32px;
    gap: 8px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px;
    background-color: white;
    box-shadow: 0px 0px 4px 1px #999;
}

.item-image {
    width: 50%;
}

.item-submit, .led-submit {
    background-color: #579fff;
    padding: 4px 8px;
    width: 100%;
    border: none;
}

.bottombar {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #579fff;
  width: 100%;
}

.bottombar ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    padding: 8px;
}

.bottombar ul li {
    flex: 1;
    text-align: center;
}

.bottombar ul li a {
    color: white;
    text-decoration: none;
    font-size: x-large;
    display: block;
}

.bottombar ul li a:hover {
    scale: 110%;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .bottombar {
      padding: 5px 0; /* Atur padding lebih kecil untuk mobile */
    }
    
    .bottombar ul li a {
      font-size: large; /* Sesuaikan ukuran font pada mobile */
    }
  }

  .control-all {
    text-align: center;
    margin: 0 16px;
    margin-top: 50px;
  }
  
  .control-all button {
    background-color: #579fff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .control-all button:hover {
    background-color: #4682b4;
    transition: 0.3s;
  }
  